**Q1. What is a database? Differentiate between SQL and NoSQL databases.**

A1. A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is managed by a Database Management System (DBMS), which provides the interface for users and applications to interact with the data. Databases are used to store, retrieve, and manage data efficiently, ensuring data integrity, security, and availability.

**SQL Databases:**

- SQL databases are relational databases that use Structured Query Language (SQL) for defining and manipulating the data.
- They have a predefined schema that defines the structure of the data and the relationships between different data entities.
- Examples of SQL databases include MySQL, PostgreSQL, Oracle, and SQL Server.
- They are generally used for structured data with complex relationships and transactions.

**NoSQL Databases:**

- NoSQL databases are non-relational databases that do not use SQL as their primary query language.
- They are schema-less or have a flexible schema, allowing for dynamic changes to the data structure.
- NoSQL databases are designed for handling large volumes of unstructured or semi-structured data with high scalability and performance.
- Examples of NoSQL databases include MongoDB, Cassandra, Redis, and Amazon DynamoDB.
- They are often used for big data applications, real-time analytics, and distributed systems, offering high availability and horizontal scaling.

**Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.**

A2. DDL stands for Data Definition Language. It's a subset of SQL (Structured Query Language) used for defining and managing the structure of database objects like tables, indexes, views, and schemas.

**CREATE:** The CREATE command is used to create new database objects such as tables, views, indexes, or schemas.

In [ ]:
CREATE TABLE Customers (
    CustomerID INT PRIMARY KEY,
    Name VARCHAR(50),
    Email VARCHAR(100)
);

**DROP:** The DROP command is used to remove existing database objects like tables, views, or indexes from the database.

In [ ]:
DROP TABLE Customers;

**ALTER:** The ALTER command is used to modify the structure of existing database objects like adding, modifying, or dropping columns from a table.

In [ ]:
ALTER TABLE Customers
ADD Phone VARCHAR(20);

**TRUNCATE:** The TRUNCATE command is used to delete all rows from a table without removing the table structure itself.

In [ ]:
TRUNCATE TABLE Customers;

**Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.**

A3. DML stands for Data Manipulation Language. It's a subset of SQL (Structured Query Language) used for manipulating data within database objects like tables. DML commands include INSERT, UPDATE, DELETE, and SELECT (which is primarily used for data retrieval).

**INSERT:** The INSERT command is used to add new records (rows) into a table.

In [ ]:
INSERT INTO Customers (CustomerID, Name, Email, Phone)
VALUES (1, 'John Doe', 'johndoe@example.com', '+1234567890');

**UPDATE:** The UPDATE command is used to modify existing records (rows) in a table.

In [ ]:
UPDATE Customers
SET Email = 'newemail@example.com'
WHERE CustomerID = 1;

**DELETE:** The DELETE command is used to remove records (rows) from a table.

In [ ]:
DELETE FROM Customers
WHERE CustomerID = 1;

**Q4. What is DQL? Explain SELECT with an example.**

A4. DQL stands for Data Query Language. It's a subset of SQL (Structured Query Language) used for retrieving and querying data from a database. The primary command used in DQL is SELECT, which allows you to specify which data to retrieve from one or more database tables.

**SELECT Command:**
The SELECT command is used to retrieve data from one or more tables based on specified criteria. It allows you to specify which columns to retrieve, filter rows based on conditions, sort data, and perform calculations or transformations on the retrieved data.

In [ ]:
SELECT Name, Email
FROM Customers;

**Q5. Explain Primary Key and Foreign Key.**

A5.  
**Primary Key (PK):**

- A Primary Key is a column or set of columns that uniquely identifies each record (row) in a table.
- It must have a unique value for each record and cannot contain NULL values.
- A table can have only one Primary Key.
- Primary Keys are used to enforce entity integrity and ensure data uniqueness within a table.


**Foreign Key (FK):**

- A Foreign Key is a column or set of columns in a table that establishes a relationship with the Primary Key in another table.
- It creates referential integrity between related tables, ensuring that values in the Foreign Key column(s) match values in the Primary Key column(s) of the referenced table.
- Foreign Keys are used to enforce data integrity and maintain consistency across related tables.

**Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.**

In [ ]:
# A6.
mydb = mysql.connector.connect(
  host="localhost",
  user="your_username",
  password="your_password",
  database="your_database"
)

mycursor = mydb.cursor()

**cursor() Method:**

- The cursor() method creates a cursor object, which is used to execute SQL queries and fetch results.
- It's a way to interact with the MySQL database within your Python code.

**execute() Method:**

- The execute() method is used to execute SQL queries through the cursor object.
- You pass the SQL query as a string to the execute() method, and it sends the query to the MySQL database for execution.
- You can also use parameterized queries with execute() to prevent SQL injection attacks, as shown in Example 2 above.

**Q7. Give the order of execution of SQL clauses in an SQL query.**

A7. In SQL, the order of execution of clauses in an SQL query generally follows a structured sequence. Here's the typical order of execution for SQL clauses in a SELECT statement:

- **FROM:** The FROM clause specifies the tables from which the data will be retrieved or manipulated. It is the first clause evaluated in the query.

- **WHERE:** The WHERE clause filters rows based on specified conditions. It is applied after the FROM clause to select only the rows that meet the specified criteria.

- **GROUP BY:** The GROUP BY clause groups rows that have the same values into summary rows, typically used with aggregate functions like SUM, COUNT, AVG, etc.

- **HAVING:** The HAVING clause filters grouped rows based on specified conditions, similar to the WHERE clause but applied to groups defined by the GROUP BY clause.

- **SELECT:** The SELECT clause specifies which columns or expressions to include in the query result set. It follows the FROM, WHERE, GROUP BY, and HAVING clauses.

- **ORDER BY:** The ORDER BY clause sorts the rows in the result set based on specified columns or expressions. It is typically the last clause in the query before LIMIT or OFFSET clauses.

- **LIMIT/OFFSET:** The LIMIT and OFFSET clauses are used for pagination or limiting the number of rows returned by the query. They are applied after the entire result set is generated based on the preceding clauses.